/* Base Styles */
.config-section {
  padding-bottom: 30px !important;
}

.quiz-window {
  background-color: #fff;
}
.quiz-window-body {
  background-color: #f9f9f9;
}

.guiz-awards-row {
  display: flex; /* Use Flexbox for layout */
  flex-wrap: wrap; /* Ensure wrapping on smaller screens */
  margin-bottom: 0px !important;
  padding: 10px 40px; /* Adjust padding for better spacing */
  list-style: none;
  align-items: center; /* Align vertically */
}

.guiz-awards-row-even {
  background-color: #fff;
}

.guiz-awards-row li {
  flex: 1; /* Make all list items flexible */
  text-align: center;
  margin: 5px 0;
}

/* Specific Columns */
.guiz-awards-star {
  flex: 0 0 15%; /* Fixed width for stars */
}

.guiz-awards-title {
  flex: 1 1 40%; /* Flexible width for title */
  font-size: 12px;
}

.guiz-awards-track, .guiz-awards-time {
  flex: 0 0 20%; /* Fixed width for area and action */
  font-size: 10px;
}

.guiz-awards-subtitle {
  color: #858585;
  font-size: 10px;
}

/* Star Icon Adjustments */
.star {
  width: 50px;
  height: 50px;
  margin: auto;
  border: 2px solid #bdc2c1;
}

.goldstar {
  /* background-color: gold; */
  border-color: #4c8193;
  background: #14b0bf;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: inline-block;
}

.silverstar {
  /* background-color: silver; */
  border-color: #557e3a;
  background: #66931f;  
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: inline-block;
}

.bronzestar {
  /* background-color: #cd7f32; */
  border-color: #998247;
  background: #aa984b;  
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: inline-block;
}

.rhodiumstar {
  /* background-color: #e5e4e2; */
  border-color: #743a7f;
  background: #a0409d;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: inline-block;
}

/* Responsive Design for Small Screens */
@media (max-width: 768px) {
  .guiz-awards-row {
    flex-direction: row; /* Stack items horizontal */
    text-align: left;
  }

  .guiz-awards-star,
  .guiz-awards-track,
  .guiz-awards-time {
    text-align: center; /* Center-align stars and text */
  }

  .guiz-awards-title {
    margin-bottom: 10px;
  }

  .star {
    width: 30px; /* Smaller stars */
    height: 30px;
    margin: auto;
  }
}

@media (max-width: 480px) {
  .guiz-awards-row {
    padding: 10px; /* Reduce padding for very small screens */
  }

  .guiz-awards-track, .guiz-awards-time {
    font-size: 14px; /* Smaller text */
  }
}
.submit-btn btn req-brochure{
    background-color: ed323a;
}
