.features-section {
    /* background-color: #9b5136 !important; */
    /* background-color: #ed212f !important; */
    background-color: #fff !important;
}

.config-table {
    margin-top: 0px !important;
    /* border: 5px solid #f10404 !important; */
    cursor: pointer;
    background-color: #9b5136 !important;
    color: #fff !important;
}

.config-table-row {
    border-bottom: 2px dotted #B8926A;
}

.config-table-header {
    font-size: 13px; 
    padding-left: 15px
}